.enderecos{
    width: 100%;
    margin-top: 50px;
    flex-direction: flex;
    display: flex;
    
}

.lado-azul {
    background-color: #0150a0; width: 50%; 
    display: flex; 
    justify-content: center; 
    align-items: center; padding: 30px 0;
}

.lado-amarelo {
    background-color: #f5db33; 
    width: 50%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
     padding: 30px 0;
}
.lado-azul li, .lado-amarelo li{
   list-style: none;
   color: white;
}