.servico-de-jogo-container{
    width: 100%;

  }

  .servico-de-jogo-textos{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    font-size: 18px;
    padding: 20px;
    line-height: 40px;
  }
  .servico-de-jogo-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    border-top: 1px solid rgba(219, 214, 214, 0.5); 
    border-left: 1px solid rgba(219, 214, 214, 0.5);
    box-shadow: -4px -4px 16px rgba(219, 214, 214, 0.5); 
  }

  .socio-container{
    width: 100%;
  }

  .carrossel-socio{
    height: 200px;
    width: 700px;
    
  }
  .socio-info{
    width: 100%;
    display: flex;
    flex-direction: row;

  }

  .slick-slider{
    height: 400px;
  }


.socio-texto{
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 40px;

}


